{% extends 'base.html.twig' %}

{% block title %}Livre index{% endblock %}

{% block body %}
    <h1>Livre index</h1>

    <table class="table" border="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>NbPage</th>
                <th>DateEdition</th>
                <th>NbExemplaires</th>
                <th>Prix</th>
                <th>Isbn</th>
                <th>auteurs</th>
                <th>actions</th>

            </tr>
        </thead>
        <tbody>
        {% for livre in livres %}
            <tr>
                <td>{{ livre.id }}</td>
                <td>{{ livre.titre }}</td>
                <td>{{ livre.nbPage }}</td>
                <td>{{ livre.dateEdition ? livre.dateEdition|date('Y-m-d') : '' }}</td>
                <td>{{ livre.nbExemplaires }}</td>
                <td>{{ livre.prix }}</td>
                <td>{{ livre.isbn }}</td>
                <td>
                    {% for a in livre.auteur %}
                        {{ a.prenom}} {{ a.nom}}
                    {% else %}
                        {{ vide}}
                    {% endfor%}
                </td>
                <td>
                    <a href="{{ path('livre_show', {'id': livre.id}) }}">Afficher</a>
                    <a href="{{ path('livre_edit', {'id': livre.id}) }}">Editer</a>
                    <a href="{{ path('livre_delete', {'id': livre.id}) }}">supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Pas d'enregistrements trouvés</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('livre_new') }}">Nouveau livre</a>
{% endblock %}
